{% extends 'index.html' %}

{% block content %}

<style>
    a { color: inherit; } 
</style>
    



<div class="page-wrapper">

    <div class="container-fluid">
       
        <div class="row justify-content-center">
            
            <div class="col-lg-6 col-md-12">
                <a href="">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Books</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">{{book_count}} Books</span></li>
                    </ul>
                </div>
            </a>
            </div>
       

            <div class="col-lg-6 col-md-12">
                <a href="">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Students</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">{{student_count}} Students</span></li>
                    </ul>
                </div>
            </a>

            </div>
            
           
            
        </div>
        
    </div>
</div>


{% endblock content %}